table {
	border-collapse: collapse;
	border: 1px solid rgb(0, 0, 0);
}
td {
	border: 1px solid rgb(0, 0, 0);
}
td, tr{
	text-align: center;
}
td:first-child {
	width: 55%;
	text-align: left;
 }
 tr:first-child {
	font-weight: 700;
	text-align: left;
 }